In [2]:
import pandas as pd
import numpy as np
import ast

In [3]:
rated_movies = pd.read_csv('filmes.csv')
movies = pd.read_csv('TMDB_all_movies.csv')
info_movies = pd.read_csv('TMDB_movie_dataset_v11.csv')

In [20]:
movies.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,spoken_languages,cast,director,director_of_photography,writers,producers,music_composer,imdb_rating,imdb_votes,poster_path
0,2,Ariel,7.100,346.0,Released,1988-10-21,0.0,73.0,0.0,tt0094675,...,suomi,"Merja Pulkkinen, Eetu Hilkamo, Turo Pajala, Es...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Aki Kaurismäki,NaN,7.4,9221.0,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,3,Shadows in Paradise,7.293,409.0,Released,1986-10-17,0.0,74.0,0.0,tt0092149,...,"suomi, English, svenska","Esko Nikkari, Mari Rantasila, Marina Martinoff...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Mika Kaurismäki,NaN,7.4,8048.0,/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,5,Four Rooms,5.862,2694.0,Released,1995-12-09,4257354.0,98.0,4000000.0,tt0113101,...,English,"Lili Taylor, Madonna, Tamlyn Tomita, Marc Lawr...","Quentin Tarantino, Robert Rodriguez, Allison A...","Phil Parmet, Guillermo Navarro, Andrzej Sekula...","Quentin Tarantino, Robert Rodriguez, Allison A...","Lawrence Bender, Quentin Tarantino, Alexandre ...",Combustible Edison,6.7,114364.0,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,6,Judgment Night,6.500,351.0,Released,1993-10-15,12136938.0,109.0,21000000.0,tt0107286,...,English,"Deirdre Kelly, Peter Greene, Will Zahrn, Jerem...",Stephen Hopkins,Peter Levy,"Jere Cunningham, Lewis Colick","Marilyn Vance, Lloyd Segan, Gene Levy",Alan Silvestri,6.6,20035.0,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
4,8,Life in Loops (A Megacities RMX),7.500,27.0,Released,2006-01-01,0.0,80.0,42000.0,tt0825671,...,"English, हिन्दी, 日本語, Pусский, Español",NaN,Timo Novotny,Wolfgang Thaler,"Michael Glawogger, Timo Novotny","Ulrich Gehmacher, Timo Novotny",NaN,8.1,285.0,/7ln81BRnPR2wqxuITZxEciCe1lc.jpg

In [4]:
movies = pd.merge(movies, info_movies, on = 'id', how = 'inner')

In [38]:
movies.head()

,id,title_x,vote_average_x,vote_count_x,status_x,release_date_x,revenue_x,runtime_x,budget_x,imdb_id_x,...,original_title_y,overview_y,popularity_y,poster_path_y,tagline_y,genres_y,production_companies_y,production_countries_y,spoken_languages_y,keywords
0,2,Ariel,7.100,346.0,Released,1988-10-21,0.0,73.0,0.0,tt0094675,...,Ariel,After the coal mine he works at closes and his...,8.155,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,NaN,"Drama, Comedy, Romance",Villealfa Filmproductions,Finland,Finnish,"prison, underdog, helsinki, finland, factory w..."
1,3,Shadows in Paradise,7.293,409.0,Released,1986-10-17,0.0,74.0,0.0,tt0092149,...,Varjoja paratiisissa,"Nikander, a rubbish collector and would-be ent...",5.946,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,NaN,"Drama, Comedy, Romance",Villealfa Filmproductions,Finland,"English, Finnish, Swedish","helsinki, finland, salesclerk, garbage"
2,5,Four Rooms,5.862,2694.0,Released,1995-12-09,4257354.0,98.0,4000000.0,tt0113101,...,Four Rooms,It's Ted the Bellhop's first night on the job....,15.295,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,Twelve outrageous guests. Four scandalous requ...,Comedy,"Miramax, A Band Apart",United States of America,English,"hotel, new year's eve, witch, bet, sperm, hote..."
3,6,Judgment Night,6.500,351.0,Released,1993-10-15,12136938.0,109.0,21000000.0,tt0107286,...,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",13.564,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,Don't move. Don't whisper. Don't even breathe.,"Action, Crime, Thriller","Largo Entertainment, JVC",United States of America,English,"drug dealer, chicago, illinois, escape, one ni..."
4,8,Life in Loops (A Megacities RMX),7.500,27.0,Released,2006-01-01,0.0,80.0,42000.0,tt0825671,...,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,1.587,/x7Sz339F2oC8mBf0DHCQpKizXaL.jpg,A Megacities remix.,Documentary,inLoops,Austria,"English, Hindi, Japanese, Russian, Spanish",megacities

In [5]:
movies = movies[['id','title_x','director','runtime_x','adult','genres_y','keywords']]

In [46]:
movies.head()

,id,title_x,director,runtime_x,adult,genres_y,keywords,features
0,2,Ariel,Aki Kaurismäki,73.0,False,"Drama, Comedy, Romance","prison, underdog, helsinki, finland, factory w...","Aki Kaurismäki Drama, Comedy, Romance prison, ..."
1,3,Shadows in Paradise,Aki Kaurismäki,74.0,False,"Drama, Comedy, Romance","helsinki, finland, salesclerk, garbage","Aki Kaurismäki Drama, Comedy, Romance helsinki..."
2,5,Four Rooms,"Quentin Tarantino, Robert Rodriguez, Allison A...",98.0,False,Comedy,"hotel, new year's eve, witch, bet, sperm, hote...","Quentin Tarantino, Robert Rodriguez, Allison A..."
3,6,Judgment Night,Stephen Hopkins,109.0,False,"Action, Crime, Thriller","drug dealer, chicago, illinois, escape, one ni...","Stephen Hopkins Action, Crime, Thriller drug d..."
4,8,Life in Loops (A Megacities RMX),Timo Novotny,80.0,False,Documentary,megacities,Timo Novotny Documentary megacities

In [6]:
rated_movies = rated_movies[['user_id', 'film_title', 'rating']]

In [8]:
rated_movies.head()

    user_id         film_title  rating
0  user_030         Until Dawn     6.0
1  user_030      Thunderbolts*     7.0
2  user_030            Sinners     8.0
3  user_030  A Minecraft Movie     4.0
4  user_030             Sneaks     1.0

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import OneHotEncoder
from sklearn.neighbors import NearestNeighbors

# Prepara os dados
movies = movies.fillna('')

# Junta as features textuais em uma só string para cada filme
movies['features'] = (
    movies['director'].astype(str) + ' ' +
    movies['genres_y'].astype(str) + ' ' +
    movies['keywords'].astype(str)
)

# Vetoriza as features
vectorizer = CountVectorizer(token_pattern=r"(?u)\b\w+\b")
X = vectorizer.fit_transform(movies['features'])

# Ajusta o modelo KNN
knn = NearestNeighbors(metric='cosine', algorithm='brute')
knn.fit(X)

def get_recommendations_by_content(title, n_recommendations=5):
    if title not in movies['title_x'].values:
        return f"Filme '{title}' não encontrado."
    
    idx = movies[movies['title_x'] == title].index[0]
    distances, indices = knn.kneighbors(X[idx], n_neighbors=n_recommendations+1)
    
    recommended_titles = [movies.iloc[i]['title_x'] for i in indices.flatten() if movies.iloc[i]['title_x'] != title]
    return recommended_titles[:n_recommendations]

"Filme 'Nome do Filme' não encontrado."

In [ ]:
def get_recommendations_by_content(title, n_recommendations=10):
    if title not in movies['title_x'].values:
        return []
    idx = movies[movies['title_x'] == title].index[0]
    distances, indices = knn.kneighbors(X[idx], n_neighbors=n_recommendations+1)
    recommended_titles = [movies.iloc[i]['title_x'] for i in indices.flatten() if movies.iloc[i]['title_x'] != title]
    return recommended_titles

def get_knn_ratings_recommendation(title, n_recommendations=5):
    # Primeiro, pega os similares por conteúdo
    content_recs = get_recommendations_by_content(title, n_recommendations=15)
    if not content_recs:
        return f"Filme '{title}' não encontrado."
    
    # Cria matriz de usuários x filmes
    pivot = rated_movies.pivot_table(index='film_title', columns='user_id', values='rating').fillna(0)
    
    # Filtra apenas os filmes recomendados pelo conteúdo e o original
    filtered_titles = [title] + [rec for rec in content_recs if rec in pivot.index]
    filtered_pivot = pivot.loc[filtered_titles]
    
    # Ajusta o KNN nas notas
    knn_ratings = NearestNeighbors(metric='cosine', algorithm='brute')
    knn_ratings.fit(filtered_pivot.values)
    
    idx = filtered_pivot.index.get_loc(title)
    distances, indices = knn_ratings.kneighbors([filtered_pivot.iloc[idx].values], n_neighbors=min(n_recommendations+1, len(filtered_titles)))
    
    # Retorna os títulos recomendados (exclui o próprio filme)
    recommended_titles = [filtered_pivot.index[i] for i in indices.flatten() if filtered_pivot.index[i] != title]
    return recommended_titles[:n_recommendations]

"Filme 'Nome do Filme' não encontrado."

In [47]:
print(get_recommendations_by_content('Titanic'))

['Britannic', 'Love, Sick', 'Love Mocktail', 'Kedi', 'With A Kiss I Die', 'Endings, Beginnings', 'The Pure Love', 'Romeo and Juliet', '16 Vayathinile', 'Excursion']

In [44]:
print(get_knn_ratings_recommendation('The Dark Knight Rises', n_recommendations=5))

['Batman Begins', 'The Dark Knight', 'Kick-Ass 2', 'Untitled The Batman Sequel', 'The Last Days of American Crime']

In [45]:
import pickle

# Salva o DataFrame movies em um arquivo pickle
with open('movies_info.pkl', 'wb') as f:
    pickle.dump(movies, f)
# Salva o DataFrame rated_movies em um arquivo pickle
with open('rated_movies.pkl', 'wb') as f:
    pickle.dump(rated_movies, f)