In [4]:
import pandas as pd
import numpy as np

In [5]:
rated_movies = pd.read_csv('filmes.csv')
movies = pd.read_csv('TMDB_all_movies.csv')
info_movies = pd.read_csv('TMDB_movie_dataset_v11.csv')

In [6]:
movies = pd.merge(movies, info_movies, on = 'id', how = 'inner')

In [7]:
movies.head()

,id,title_x,vote_average_x,vote_count_x,status_x,release_date_x,revenue_x,runtime_x,budget_x,imdb_id_x,...,original_title_y,overview_y,popularity_y,poster_path_y,tagline_y,genres_y,production_companies_y,production_countries_y,spoken_languages_y,keywords
0,2,Ariel,7.100,346.0,Released,1988-10-21,0.0,73.0,0.0,tt0094675,...,Ariel,After the coal mine he works at closes and his...,8.155,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,NaN,"Drama, Comedy, Romance",Villealfa Filmproductions,Finland,Finnish,"prison, underdog, helsinki, finland, factory w..."
1,3,Shadows in Paradise,7.293,409.0,Released,1986-10-17,0.0,74.0,0.0,tt0092149,...,Varjoja paratiisissa,"Nikander, a rubbish collector and would-be ent...",5.946,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,NaN,"Drama, Comedy, Romance",Villealfa Filmproductions,Finland,"English, Finnish, Swedish","helsinki, finland, salesclerk, garbage"
2,5,Four Rooms,5.862,2694.0,Released,1995-12-09,4257354.0,98.0,4000000.0,tt0113101,...,Four Rooms,It's Ted the Bellhop's first night on the job....,15.295,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,Twelve outrageous guests. Four scandalous requ...,Comedy,"Miramax, A Band Apart",United States of America,English,"hotel, new year's eve, witch, bet, sperm, hote..."
3,6,Judgment Night,6.500,351.0,Released,1993-10-15,12136938.0,109.0,21000000.0,tt0107286,...,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",13.564,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,Don't move. Don't whisper. Don't even breathe.,"Action, Crime, Thriller","Largo Entertainment, JVC",United States of America,English,"drug dealer, chicago, illinois, escape, one ni..."
4,8,Life in Loops (A Megacities RMX),7.500,27.0,Released,2006-01-01,0.0,80.0,42000.0,tt0825671,...,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,1.587,/x7Sz339F2oC8mBf0DHCQpKizXaL.jpg,A Megacities remix.,Documentary,inLoops,Austria,"English, Hindi, Japanese, Russian, Spanish",megacities

In [8]:
movies = movies[['id','title_x','director','runtime_x','release_date_x' ,'adult','genres_y','keywords','overview_y','poster_path_y' ]]

In [9]:
movies.head()

,id,title_x,director,runtime_x,release_date_x,adult,genres_y,keywords,overview_y,poster_path_y
0,2,Ariel,Aki Kaurismäki,73.0,1988-10-21,False,"Drama, Comedy, Romance","prison, underdog, helsinki, finland, factory w...",After the coal mine he works at closes and his...,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,3,Shadows in Paradise,Aki Kaurismäki,74.0,1986-10-17,False,"Drama, Comedy, Romance","helsinki, finland, salesclerk, garbage","Nikander, a rubbish collector and would-be ent...",/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,5,Four Rooms,"Quentin Tarantino, Robert Rodriguez, Allison A...",98.0,1995-12-09,False,Comedy,"hotel, new year's eve, witch, bet, sperm, hote...",It's Ted the Bellhop's first night on the job....,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,6,Judgment Night,Stephen Hopkins,109.0,1993-10-15,False,"Action, Crime, Thriller","drug dealer, chicago, illinois, escape, one ni...","While racing to a boxing match, Frank, Mike, J...",/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
4,8,Life in Loops (A Megacities RMX),Timo Novotny,80.0,2006-01-01,False,Documentary,megacities,Timo Novotny labels his new project an experim...,/x7Sz339F2oC8mBf0DHCQpKizXaL.jpg

In [10]:
movies.rename(columns = {'title_x': 'title', 'runtime_x': 'runtime', 'release_date_x': 'year' , 'overview_y': 'overview', 'genres_y': 'genres', 'poster_path_y' : 'poster_path' }, inplace = True)

In [11]:
movies['year'] = pd.to_datetime(movies['year'], errors='coerce').dt.year

In [12]:
def format_year(year):
    try:
        if pd.isnull(year):
            return ""
        return str(int(float(year)))
    except Exception:
        return str(year)
    
movies['year'] = movies['year'].apply(format_year)

In [13]:
movies = movies.drop_duplicates(subset=['title', 'year']).reset_index(drop=True)

In [14]:
movies['title_year'] = movies['title'] + ' (' + movies['year'].astype(str) + ')'

In [75]:
movies.head()

,id,title,director,runtime,year,adult,genres,keywords,overview,poster_path,title_year
0,2,Ariel,Aki Kaurismäki,73.0,1988,False,"Drama, Comedy, Romance","prison, underdog, helsinki, finland, factory w...",After the coal mine he works at closes and his...,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,Ariel (1988)
1,3,Shadows in Paradise,Aki Kaurismäki,74.0,1986,False,"Drama, Comedy, Romance","helsinki, finland, salesclerk, garbage","Nikander, a rubbish collector and would-be ent...",/nj01hspawPof0mJmlgfjuLyJuRN.jpg,Shadows in Paradise (1986)
2,5,Four Rooms,"Quentin Tarantino, Robert Rodriguez, Allison A...",98.0,1995,False,Comedy,"hotel, new year's eve, witch, bet, sperm, hote...",It's Ted the Bellhop's first night on the job....,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,Four Rooms (1995)
3,6,Judgment Night,Stephen Hopkins,109.0,1993,False,"Action, Crime, Thriller","drug dealer, chicago, illinois, escape, one ni...","While racing to a boxing match, Frank, Mike, J...",/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,Judgment Night (1993)
4,8,Life in Loops (A Megacities RMX),Timo Novotny,80.0,2006,False,Documentary,megacities,Timo Novotny labels his new project an experim...,/x7Sz339F2oC8mBf0DHCQpKizXaL.jpg,Life in Loops (A Megacities RMX) (2006)

In [15]:
rated_movies = rated_movies[['user_id', 'film_title', 'rating', 'film_year']]

In [16]:
rated_movies['film_year'] = rated_movies['film_year'].apply(format_year)

In [19]:
rated_movies['title_year'] = rated_movies['film_title'] + ' (' + rated_movies['film_year'].astype(str) + ')'

In [20]:
rated_movies.head()

,user_id,film_title,rating,film_year,title_year
0,user_001,Scream 7,1.0,2026,Scream 7 (2026)
1,user_001,Materialists,NaN,2025,Materialists (2025)
2,user_001,How to Train Your Dragon,6.0,2025,How to Train Your Dragon (2025)
3,user_001,Predator: Killer of Killers,8.0,2025,Predator: Killer of Killers (2025)
4,user_001,Echo Valley,6.0,2025,Echo Valley (2025)

In [21]:
movies = movies.fillna('')

movies['features'] = (
    movies['title'].astype(str) + ' ' +
    movies['director'].astype(str) + ' ' +
    movies['genres'].astype(str) + ' ' +
    movies['keywords'].astype(str) + ' ' +
    movies['overview'].astype(str) 
)

In [22]:
import re

def clean_text(text):
    if pd.isnull(text):
        return ""
    # Remove pontuação e coloca em minúsculas
    text = text.lower()
    text = re.sub(r'[.,]', '', text)
    return text

movies['features'] = movies['features'].apply(clean_text)

In [23]:
movie_name = "Titanic"
resultado = movies[movies['title'] == movie_name]

In [24]:
resultado

,id,title,director,runtime,year,adult,genres,keywords,overview,poster_path,title_year,features
471,597,Titanic,James Cameron,194.0,1997,False,"Drama, Romance","epic, ship, drowning, panic, shipwreck, evacua...",101-year-old Rose DeWitt Bukater tells the sto...,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,Titanic (1997),titanic james cameron drama romance epic ship ...
6052,11021,Titanic,"Werner Klingler, Herbert Selpin",88.0,1943,False,"Action, Drama, History","sea, captain, passenger, cruise, iceberg, tita...",This little-known German film retells the true...,/Al7oIXQ4dZAofBTZWm6OiXS3MEa.jpg,Titanic (1943),titanic werner klingler herbert selpin action ...
10006,16535,Titanic,Jean Negulesco,98.0,1953,False,"Drama, Romance",titanic,"Unhappily married, Julia Sturges decides to go...",/rEPzO9I6LCk6Mxg1X4BsBk6oA3V.jpg,Titanic (1953),titanic jean negulesco drama romance titanic u...
231685,357517,Titanic,Lutz Büscher,0.0,1984,False,Drama,,,/yi73me6Jl3zDelS9pQK5jtMRhsc.jpg,Titanic (1984),titanic lutz büscher drama
309328,455679,Titanic,,0.0,,False,,,,,Titanic (),titanic
536374,760524,Titanic,,0.0,2018,False,,,"""Titanic"" is a Punjabi feature film. It is fam...",,Titanic (2018),"titanic ""titanic"" is a punjabi feature film..."
784795,1124589,Titanic,Kim Harrington,55.0,2023,False,Documentary,,This documentary explores the incredible histo...,/l7rAG4P16SNFdPmWfTC8ZQydOon.jpg,Titanic (2023),titanic kim harrington documentary this docum...

In [25]:
movies.head()

,id,title,director,runtime,year,adult,genres,keywords,overview,poster_path,title_year,features
0,2,Ariel,Aki Kaurismäki,73.0,1988,False,"Drama, Comedy, Romance","prison, underdog, helsinki, finland, factory w...",After the coal mine he works at closes and his...,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,Ariel (1988),ariel aki kaurismäki drama comedy romance pris...
1,3,Shadows in Paradise,Aki Kaurismäki,74.0,1986,False,"Drama, Comedy, Romance","helsinki, finland, salesclerk, garbage","Nikander, a rubbish collector and would-be ent...",/nj01hspawPof0mJmlgfjuLyJuRN.jpg,Shadows in Paradise (1986),shadows in paradise aki kaurismäki drama comed...
2,5,Four Rooms,"Quentin Tarantino, Robert Rodriguez, Allison A...",98.0,1995,False,Comedy,"hotel, new year's eve, witch, bet, sperm, hote...",It's Ted the Bellhop's first night on the job....,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,Four Rooms (1995),four rooms quentin tarantino robert rodriguez ...
3,6,Judgment Night,Stephen Hopkins,109.0,1993,False,"Action, Crime, Thriller","drug dealer, chicago, illinois, escape, one ni...","While racing to a boxing match, Frank, Mike, J...",/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,Judgment Night (1993),judgment night stephen hopkins action crime th...
4,8,Life in Loops (A Megacities RMX),Timo Novotny,80.0,2006,False,Documentary,megacities,Timo Novotny labels his new project an experim...,/x7Sz339F2oC8mBf0DHCQpKizXaL.jpg,Life in Loops (A Megacities RMX) (2006),life in loops (a megacities rmx) timo novotny ...

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import NearestNeighbors

vectorizer = CountVectorizer(token_pattern=r"(?u)\b\w+\b")
X = vectorizer.fit_transform(movies['features'])

knn = NearestNeighbors(metric='cosine', algorithm='brute')
knn.fit(X)

NearestNeighbors(algorithm='brute', metric='cosine')

In [18]:
def get_recommendations_by_content(title, n_recommendations=50):
    if title not in movies['title'].values:
        return f"Filme '{title}' não encontrado."
    
    idx = movies[movies['title'] == title].index[0]
    distances, indices = knn.kneighbors(X[idx], n_neighbors=n_recommendations+1)
    
    recommended_titles = [movies.iloc[i]['title'] for i in indices.flatten() if movies.iloc[i]['title'] != title]
    return recommended_titles[:n_recommendations]

In [19]:
def get_knn_ratings_recommendation(title, n_recommendations=5):

    content_recs = get_recommendations_by_content(title, n_recommendations=15)
    if not content_recs:
        return f"Filme '{title}' não encontrado."
    
    pivot = rated_movies.pivot_table(index='film_title', columns='user_id', values='rating').fillna(0)
    

    filtered_titles = [title] + [rec for rec in content_recs if rec in pivot.index]
    filtered_pivot = pivot.loc[filtered_titles]

    knn_ratings = NearestNeighbors(metric='cosine', algorithm='brute')
    knn_ratings.fit(filtered_pivot.values)
    
    idx = filtered_pivot.index.get_loc(title)
    distances, indices = knn_ratings.kneighbors([filtered_pivot.iloc[idx].values], n_neighbors=min(n_recommendations+1, len(filtered_titles)))

    recommended_titles = [filtered_pivot.index[i] for i in indices.flatten() if filtered_pivot.index[i] != title]
    return recommended_titles[:n_recommendations]

In [20]:
print(get_recommendations_by_content('Indiana Jones and the Last Crusade'))

['God Disposes', 'Eternal', 'The Old Cowboy', 'My Father Iqbal', 'Father and Son', 'Hitler: Beast of Berlin', 'Morning Star', 'Ghouls', 'The Cord of Life', 'The Han River', 'Hope in the Holy Land: Delving Beneath the Surface of the Israeli-Palestinian Conflict', 'Blood on the Asphalt', 'The Day of the Crows', 'Heart Beats of Long Ago', 'Consolation', 'Wind Back', 'The Grassland Whisper', 'The Devil in Sofia', 'No Mill No Meal', 'Won in the Fifth', "Majub's Journey", 'Der rote Reiter', 'The Misadventure of a French Gentleman Without Pants at the Zandvoort Beach', 'Glory of Legend', 'Premutos: The Fallen Angel', '家族ケチャップ', 'Fokak Meny', 'An Apple from Paradise', 'The Line Will Break', 'Tempest', 'The Stepmother', 'The Fisher-Maid', 'Summer in the Golden Valley', 'Traveler', 'The New Man', 'Youth on the palm of the imp', 'The Intruder', 'The Eremites', 'Rebels Of The Cities', 'Blood Loss', 'Alarm', 'The Old Man and the Bird', 'The Color of the Sun', 'Lost on the Branch', 'Jim is Fond of Garlic', 'شعبان الفارس', 'Michel Strée, Une âme Chevaleresque', "L'ombre des pères", 'Enki Bilal, souvenirs du futur', 'Persona Non Grata']

In [21]:
print(get_knn_ratings_recommendation('Indiana Jones and the Last Crusade', n_recommendations=5))

['Ghouls', 'Father and Son', 'Eternal']

In [81]:
import pickle

# Salva o DataFrame movies em um arquivo pickle
with open('movies_info.pkl', 'wb') as f:
    pickle.dump(movies, f)
# Salva o DataFrame rated_movies em um arquivo pickle
with open('rated_movies.pkl', 'wb') as f:
    pickle.dump(rated_movies, f)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(X, X)

In [ ]:
import numpy as np

def plot_knn_graph_title_year(title_year, n_recommendations=5, n_random=200):
    if title_year not in movies['title_year'].values:
        print(f"Filme '{title_year}' não encontrado.")
        return
    
    idx = movies[movies['title_year'] == title_year].index[0]
    distances, indices = knn.kneighbors(X[idx], n_neighbors=n_recommendations+1)
    neighbor_indices = indices.flatten()
    
    # Amostra aleatória de outros filmes para visualização
    all_indices = set(range(X.shape[0]))
    sample_indices = set(np.random.choice(list(all_indices - set(neighbor_indices)), size=min(n_random, X.shape[0]-len(neighbor_indices)), replace=False))
    plot_indices = list(sample_indices | set(neighbor_indices) | {idx})
    
    # Só converte para array os filmes selecionados
    X_sample = X[plot_indices].toarray()
    
    from sklearn.decomposition import PCA
    import matplotlib.pyplot as plt

    pca = PCA(n_components=2)
    X_2d = pca.fit_transform(X_sample)

    plt.figure(figsize=(10, 8))
    plt.scatter(X_2d[:, 0], X_2d[:, 1], alpha=0.2, label='Amostra de Filmes')
    # Destaca os vizinhos
    neighbor_mask = [i in set(neighbor_indices) for i in plot_indices]
    plt.scatter(X_2d[neighbor_mask, 0], X_2d[neighbor_mask, 1], color='red', label='Vizinhos KNN')
    # Destaca o filme de referência
    ref_idx = plot_indices.index(idx)
    plt.scatter(X_2d[ref_idx, 0], X_2d[ref_idx, 1], color='blue', label='Filme de referência', s=100)

    # Rótulos dos vizinhos
    for i, pi in enumerate(plot_indices):
        if pi in neighbor_indices or pi == idx:
            plt.text(X_2d[i, 0], X_2d[i, 1], movies.iloc[pi]['title_year'], fontsize=8)
    plt.text(X_2d[ref_idx, 0], X_2d[ref_idx, 1], title_year, fontsize=10, color='blue', weight='bold')

    plt.legend()
    plt.title(f"KNN para '{title_year}'")
    plt.xlabel("PCA 1")
    plt.ylabel("PCA 2")
    plt.show()

# Exemplo de uso:
plot_knn_graph_title_year('Titanic (1997)')

Requirement already satisfied: matplotlib in c:\users\yuri\appdata\local\programs\python\python312\lib\site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\yuri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\yuri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\yuri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\yuri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\yuri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.0.0)
Requirement already satisfied: packaging>=20.0 in c:\users\yuri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\yuri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\yuri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\yuri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\yuri\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

MemoryError: Unable to allocate 5.71 TiB for an array with shape (1078500, 728098) and data type int64